@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

.subheader {
  font-family: "Roboto Mono", monospace;
  font-family: "Montserrat", sans-serif;
  font-family: "Ranga", cursive;
}

.gray-background {
  background-color: #e5e5e5;
}
